<!DOCTYPE HTML>
<!-- saved from url=(0013)about:internet -->
<html>
<head>
<meta http-equiv='Content-Type' content='text/html;charset=UTF-8' />
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<meta name='GENERATOR' content='SpreadsheetConverter  version 9.1.7012.0)' />

<!-- The parts of this webpage that is defined by the original spreadsheet have the same copyright as the original spreadsheet. -->
<!-- The generic Excel-related parts of this page is Copyright (C) 2002-2017 Framtidsforum I&M AB, Sweden. -->

<%- include partial-assets %>       <title>CalculadoraNODEJS</title>
    </head>
    <body onload='LoadFromQueryString()'>
          <noscript style='color:#F15623;'>
                The webpage is not working since JavaScript is not enabled. 
                Most likely, you are viewing using Dropbox website or another limited browser environment.
            </noscript>

        <div id='messageBoard' class='message warning no-print' onclick='$(this).animate({top: -$(this).outerHeight()}, 500);'>
		    <span class='glyphicon glyphicon-warning-sign' style='float:left; margin-left: 10px; margin-right: 10px;'><h3>The fields with the red border are required or invalid.</h3></span>
            <span id='closeMessageBar' class='arrow-t-b' title='close message bar.'><span class='arrow-l-r' ></span></span>
		</div>

        <form id='formc' name='formc' method='post' action='https://cenit.io/AQUI VA LA URL DEL WEB SERVER QUE RECIBE HTTP POSTS' target='_top'>
		    <input type='hidden' id='xl_spreadsheet' name='xl_spreadsheet' value='CalculadoraNODEJS' />
            <input type='hidden' id='xl_client' name='xl_client' value='x9.1.7012.0' />
            <section class="panel-group" id="panel">
                <!-- Div sheet-1 Starts -->
                <section class="panel panel-default ">
	                <header class="panel-heading">
                            <a class="panel-title" data-toggle="collapse" href="#sheet-1">
			                    Sheet1
                                <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                            </a>
	                </header>
	                <article id="sheet-1" class="panel-collapse collapse in">
		                <div class="panel-body">
			                <div class='container-fluid  '>
<section class=''>
<table cellspacing='0' cellpadding='0' style='border-spacing:0;' onkeydown='javascript:navigate(event);'>
					<col width='206'/>
					<col width='64'/>
					<col width='84'/>
					<col width='111'/>
					<col width='135'/>
					<col width='64'/>
					<col width='64'/>
					<col width='64'/>
					<col width='64'/>
					<col width='64'/>
					<col width='64'/>
                    <tr style='height:15pt'>
						<td class='ee100' style='height:15pt;' colspan = '10' rowspan = '3'>
							Company vs Industry Averages.
						</td>
						<td class='ee106' style='height:15pt;'>&nbsp;</td>
                    </tr>
                    <tr style='height:15pt'>
						<td class='ee106' style='height:15pt;'>&nbsp;</td>
                    </tr>
                    <tr style='height:33pt'>
						<td class='ee106' style='height:33pt;'>&nbsp;</td>
                    </tr>
                    <tr style='height:15pt'>
						<td class='ee109' style='height:15pt;'>
							Quarter
						</td>
						<td class='ee112' style='height:15pt;'>
							<input id='XLEW_1_4_2' type='text' value='First' class='ee111 form-control' style='width:100%' onchange="recalc_onclick('XLEW_1_4_2')" name='XLEW_1_4_2' placeholder='' tabindex='1' data-sheet='1' data-row='4' data-col='2'/>
						</td>
						<td class='ee112' style='height:15pt;'>
							<input id='XLEW_1_4_3' type='text' value='Second' class='ee111 form-control' style='width:100%' onchange="recalc_onclick('XLEW_1_4_3')" name='XLEW_1_4_3' placeholder='' tabindex='2' data-sheet='1' data-row='4' data-col='3'/>
						</td>
						<td class='ee112' style='height:15pt;'>
							<input id='XLEW_1_4_4' type='text' value='Third' class='ee111 form-control' style='width:100%' onchange="recalc_onclick('XLEW_1_4_4')" name='XLEW_1_4_4' placeholder='' tabindex='3' data-sheet='1' data-row='4' data-col='4'/>
						</td>
						<td class='ee112' style='height:15pt;'>
							<input id='XLEW_1_4_5' type='text' value='Fourth' class='ee111 form-control' style='width:100%' onchange="recalc_onclick('XLEW_1_4_5')" name='XLEW_1_4_5' placeholder='' tabindex='4' data-sheet='1' data-row='4' data-col='5'/>
						</td>
						<td class='ee106' style='height:15pt;' colspan = '6'>&nbsp;</td>
                    </tr>
                    <tr style='height:15pt'>
						<td class='ee112' style='height:15pt;'>
							<input id='XLEW_1_5_1' type='text' value='Revenue' class='ee111 form-control' style='width:100%' onchange="recalc_onclick('XLEW_1_5_1')" name='XLEW_1_5_1' placeholder='' tabindex='5' data-sheet='1' data-row='5' data-col='1'/>
						</td>
						<td class='ee113' style='height:15pt;'>
							<input id='XLEW_1_5_2' type='text' value='50000' class='ee115 form-control' style='width:100%' onchange="this.value=eedisplayFloat(eeparseFloat(this.value));recalc_onclick('XLEW_1_5_2')" name='XLEW_1_5_2' placeholder='' tabindex='6' data-sheet='1' data-row='5' data-col='2'/>
						</td>
						<td class='ee113' style='height:15pt;'>
							<input id='XLEW_1_5_3' type='text' value='100000' class='ee115 form-control' style='width:100%' onchange="this.value=eedisplayFloat(eeparseFloat(this.value));recalc_onclick('XLEW_1_5_3')" name='XLEW_1_5_3' placeholder='' tabindex='7' data-sheet='1' data-row='5' data-col='3'/>
						</td>
						<td class='ee113' style='height:15pt;'>
							<input id='XLEW_1_5_4' type='text' value='110000' class='ee115 form-control' style='width:100%' onchange="this.value=eedisplayFloat(eeparseFloat(this.value));recalc_onclick('XLEW_1_5_4')" name='XLEW_1_5_4' placeholder='' tabindex='8' data-sheet='1' data-row='5' data-col='4'/>
						</td>
						<td class='ee113' style='height:15pt;'>
							<input id='RevenueFourthInputNumber' type='text' value='' class='ee115 form-control' style='width:100%' onchange="this.value=eedisplayFloat(eeparseFloat(this.value));recalc_onclick('RevenueFourthInputNumber')" name='RevenueFourthInputNumber' placeholder='' tabindex='9' data-sheet='1' data-row='5' data-col='5'/>
						</td>
						<td class='ee106' style='height:15pt;' colspan = '6'>&nbsp;</td>
                    </tr>
                    <tr style='height:15pt'>
						<td class='ee112' style='height:15pt;'>
							<input id='XLEW_1_6_1' type='text' value='Profit' class='ee111 form-control' style='width:100%' onchange="recalc_onclick('XLEW_1_6_1')" name='XLEW_1_6_1' placeholder='' tabindex='10' data-sheet='1' data-row='6' data-col='1'/>
						</td>
						<td class='ee113' style='height:15pt;'>
							<input id='XLEW_1_6_2' type='text' value='0' class='ee115 form-control' style='width:100%' onchange="this.value=eedisplayFloat(eeparseFloat(this.value));recalc_onclick('XLEW_1_6_2')" name='XLEW_1_6_2' placeholder='' tabindex='11' data-sheet='1' data-row='6' data-col='2'/>
						</td>
						<td class='ee113' style='height:15pt;'>
						<input id='XLEW_1_6_3' type='text' readonly='readonly' value='0' class='ee113' style='overflow:hidden; border:0px solid #000000; width:100% ' name='XLEW_1_6_3' tabindex='-1' />
						</td>
						<td class='ee113' style='height:15pt;'>
						<input id='XLEW_1_6_4' type='text' readonly='readonly' value='0' class='ee113' style='overflow:hidden; border:0px solid #000000; width:100% ' name='XLEW_1_6_4' tabindex='-1' />
						</td>
						<td class='ee113' style='height:15pt;'>
						<input id='XLEW_1_6_5' type='text' readonly='readonly' value='0' class='ee113' style='overflow:hidden; border:0px solid #000000; width:100% ' name='XLEW_1_6_5' tabindex='-1' />
						</td>
						<td class='ee106' style='height:15pt;'>&nbsp;</td>
						<td class='ee106' style='height:15pt;'>
							colombia
						</td>
						<td class='ee106' style='height:15pt;' colspan = '4'>&nbsp;</td>
                    </tr>
                    <tr style='height:15pt'>
						<td class='ee112' style='height:15pt;'>
							<input id='XLEW_1_7_1' type='text' value='' class='ee111 form-control' style='width:100%' onchange="recalc_onclick('XLEW_1_7_1')" name='XLEW_1_7_1' placeholder='' tabindex='12' data-sheet='1' data-row='7' data-col='1'/>
						</td>
						<td class='ee113' style='height:15pt;'>
							<input id='XLEW_1_7_2' type='text' value='45000' class='ee115 form-control' style='width:100%' onchange="this.value=eedisplayFloat(eeparseFloat(this.value));recalc_onclick('XLEW_1_7_2')" name='XLEW_1_7_2' placeholder='' tabindex='13' data-sheet='1' data-row='7' data-col='2'/>
						</td>
						<td class='ee113' style='height:15pt;'>
							<input id='XLEW_1_7_3' type='text' value='150000' class='ee115 form-control' style='width:100%' onchange="this.value=eedisplayFloat(eeparseFloat(this.value));recalc_onclick('XLEW_1_7_3')" name='XLEW_1_7_3' placeholder='' tabindex='14' data-sheet='1' data-row='7' data-col='3'/>
						</td>
						<td class='ee113' style='height:15pt;'>
							<input id='XLEW_1_7_4' type='text' value='200000' class='ee115 form-control' style='width:100%' onchange="this.value=eedisplayFloat(eeparseFloat(this.value));recalc_onclick('XLEW_1_7_4')" name='XLEW_1_7_4' placeholder='' tabindex='15' data-sheet='1' data-row='7' data-col='4'/>
						</td>
						<td class='ee113' style='height:15pt;'>
							<input id='XLEW_1_7_5' type='text' value='210000' class='ee115 form-control' style='width:100%' onchange="this.value=eedisplayFloat(eeparseFloat(this.value));recalc_onclick('XLEW_1_7_5')" name='XLEW_1_7_5' placeholder='' tabindex='16' data-sheet='1' data-row='7' data-col='5'/>
						</td>
						<td class='ee106' style='height:15pt;' colspan = '2'>&nbsp;</td>
						<td class='ee116' style='height:15pt;'>
							<input id='xlew_1_7_8' type='text' value='' class='ee108 form-control' style='width:100%' onchange="recalc_onclick('xlew_1_7_8')" name='xlew_1_7_8' placeholder='' tabindex='17' data-sheet='1' data-row='7' data-col='8'/>
						</td>
						<td class='ee116' style='height:15pt;'>
						<input id='XLEW_1_7_9' type='text' readonly='readonly' value='' class='ee116' style='overflow:hidden; border:0px solid #000000; width:100% ' name='XLEW_1_7_9' tabindex='-1' />
						</td>
						<td class='ee106' style='height:15pt;' colspan = '2'>&nbsp;</td>
                    </tr>
                    <tr style='height:15pt'>
						<td class='ee112' style='height:15pt;'>
							<input id='XLEW_1_8_1' type='text' value='' class='ee111 form-control' style='width:100%' onchange="recalc_onclick('XLEW_1_8_1')" name='XLEW_1_8_1' placeholder='' tabindex='18' data-sheet='1' data-row='8' data-col='1'/>
						</td>
						<td class='ee113' style='height:15pt;'>
							<input id='XLEW_1_8_2' type='text' value='0' class='ee115 form-control' style='width:100%' onchange="this.value=eedisplayFloat(eeparseFloat(this.value));recalc_onclick('XLEW_1_8_2')" name='XLEW_1_8_2' placeholder='' tabindex='19' data-sheet='1' data-row='8' data-col='2'/>
						</td>
						<td class='ee113' style='height:15pt;'>
						<input id='XLEW_1_8_3' type='text' readonly='readonly' value='0' class='ee113' style='overflow:hidden; border:0px solid #000000; width:100% ' name='XLEW_1_8_3' tabindex='-1' />
						</td>
						<td class='ee113' style='height:15pt;'>
						<input id='XLEW_1_8_4' type='text' readonly='readonly' value='0' class='ee113' style='overflow:hidden; border:0px solid #000000; width:100% ' name='XLEW_1_8_4' tabindex='-1' />
						</td>
						<td class='ee113' style='height:15pt;'>
						<input id='XLEW_1_8_5' type='text' readonly='readonly' value='0' class='ee113' style='overflow:hidden; border:0px solid #000000; width:100% ' name='XLEW_1_8_5' tabindex='-1' />
						</td>
						<td class='ee106' style='height:15pt;' colspan = '6'>&nbsp;</td>
                    </tr>
                    <tr style='height:15pt'>
						<td class='ee106' style='height:15pt;' colspan = '6'>&nbsp;</td>
						<td class='ee116' style='height:15pt;'>
						<input id='XLEW_1_9_7' type='text' readonly='readonly' value='' class='ee116' style='overflow:hidden; border:0px solid #000000; width:100% ' name='XLEW_1_9_7' tabindex='-1' />
						</td>
						<td class='ee116' style='height:15pt;'>
							<input id='XLEW_1_9_8' type='text' value='' class='ee108 form-control' style='width:100%' onchange="recalc_onclick('XLEW_1_9_8')" name='XLEW_1_9_8' placeholder='' tabindex='20' data-sheet='1' data-row='9' data-col='8'/>
						</td>
						<td class='ee116' style='height:15pt;' colspan = '3'>
							<input id='XLEW_1_9_9' type='text' value='' class='ee108 form-control' style='width:100%' onchange="this.value=eedisplayFloatV(eeparseFloatV(this.value));recalc_onclick('XLEW_1_9_9')" name='XLEW_1_9_9' placeholder='' tabindex='21' data-sheet='1' data-row='9' data-col='9'/>
						</td>
                    </tr>
                    <tr style='height:15pt'>
						<td class='ee117' style='height:15pt;vertical-align:top;'>
							<div style='position:relative;padding:0;margin:0'>
                              <div id='d-S1C1' style='position:absolute;min-width:983px;min-height:459px;;border-width:1px;border-color:#d9d9d9;border-style:solid;background:#ffffff' class='c3  edgeborder'>                                                    
                                                </div>
                                                <input id='cx_S1C1' type='text' name='cx_S1C1' style='display:none' />
                                                                        
							</div>
						</td>
						<td class='ee106' style='height:15pt;' colspan = '5'>&nbsp;</td>
						<td class='ee113' style='height:15pt;'>
						<input id='XLEW_1_10_7' type='text' readonly='readonly' value='0' class='ee113' style='overflow:hidden; border:0px solid #000000; width:100% ' name='XLEW_1_10_7' tabindex='-1' />
						</td>
						<td class='ee106' style='height:15pt;' colspan = '4'>&nbsp;</td>
                    </tr>
                    <tr style='height:330pt'>
						<td class='ee106' style='height:330pt;' colspan = '11'>&nbsp;</td>
                    </tr>
                </table>

              </section>
</div>
		                </div>
	                </article>
                </section>
                <!-- Div sheet-1 Ends -->
            </section>
			<input type="hidden" id="xl_templateimages" name="xl_templateimages" value="1"><input type="hidden" id="xl_aux2" name="xl_aux2" value="UEsDBC0AAAAIADR5vkpsMtng//////////8rABQAY29tYm9jaGFydGV4X3RlbXBsYXRlXGNvbWJvY2hhcnRleC50ZW1wbGF0ZQEAEAClJwAAAAAAABkGAAAAAAAA5VrrcuI2FP69zOQdtM5s3W5rbGNzsyEzWULazGSzl5Du9lfGFwGatS2PLG7N5Mn6o4/UV6gkwDEbaAzB2bQ1P0BHR+d856LDkeCvP/5svTx51+n99r4Lfum9PQfvr96cn3W
ArKjqJ6Ojqie9E/BZzJhlDfSIEyWIIhw5gap2L+SjgxLI8bSGNAzANAyixBq3pRGJrMQbwtBJlBB5BCe4TxUPh9Y4DKQFH/4nPtzvIw8u3pYrJjlWTDDxl/xhWxpSGluqulhSTpeU2RJ1vkStaJqp6hUVhym4dOFkMilPjDImA7X3Uf3Y7SjcUlOTcjsGOn5e3rfd3jGLUu+90v1wdfZrW+rgiMKIKr1ZzJzQeXfR61702hKFU6pyHDbwhg5JIG
1f9U6VhgTUnKqEOopoAI+YI1zMxTCpLXVOy4k3obMAAsrALTB5SSIdgfwQyiOkTJA/gDyEwlRw47IAQmIBPZ6CBAfIB4fHGn/ZwHW8LwOCR5FvgcNT8YCXKIwxoU5E7duDktBcAuprcMmxJSCC0Ic+cGfgMiYsFMkQQsrcOobMXgJeq6XXZQh1TQM3GfGAyX9zclLvdm0APBxgwihuwObZuM+QKn0nRMGMUTtOgFyCAPgJgIRtHiWBBPWXbAn6H
TKmSqWsaTFNqcJvFogwCZ1gSZ1ANBhSRq5rzFYQO76PooESwD4nMndkiGTBukqlOE5pPB4KwzaIGMljnoWEUbnZyHOCdCZEvs+w3IK5G2rMDXuwV9e3sdfcu71cxjprXUwpDlNrG9/O2l3gNh+EKx0T5ATgAo8dcM71STshR5Qh8J4gL/MZruvPwvBdkFeeY8i03CHTdg6Z8WwKyaOsFew5zK0+k0qSF2/tvxGenMlY/0bWgttSieN1WOfBIADM
gPYDPLGAM6LY5tOiC4KsA5q3PeAmdKbKUMjgkiOY7W+4rLJnKPz9po+CwBLWZFgEBks3We+0MMm+PfSVS72jg2Q84C6lw5uEEvwFWocNs6E1tFUOIZ83gTcZD1lLYak7rAoPh8BwWG3yVxbo1wKdKUqU6QMSdWNriavm+E3+sudDxXcS1tQSZ2ZpG5cHKIJfL1/PO9s7+NkqeE08S/CsKaZDS6mUdbNuNszuj1qTyc9t2WzVsoXse7yzAUH+Lu4
L4ABGvoIoDPfplxXQ/b53zyHGBifkPK+oYsvmPd2o2xzdXOzPtjl7+WgMBJq2NN/5yrxmWdW7Y49h1qoetNOqMWS9OoxsaQs9W2O5O2Et1YvCycPRtxf12OLlRRf7PxN70cfYmRpouTjwGdpLfuTSWypTs0fkc3kA7FHivZhYmTOoJ57UBcJ86ahFHZd9CXgwCJLY8dhMW9ZkMV5w8jEz+wV/WsyXQGRyW65oNVldN1Ez19MbG+isPd4wYVS30/
BE9PV3EWThennx5adXY5o67kWL+sALnCRpy+K0Lq/htmX+Jc/CEIE2kHXGQ/BkOTS4rA4O2XAGxgk4i/wRqyQzcMx2lzOASTlVpVJ/k97aer1H30VuEtuLleuzlZL9mP40EAxjGwic+2m90NzghYPShxG/ySI5oqlXNgppvWqDnyHtsT7rFMHA/176fN79dK1fm9cV6Qfw6qgw8Uax4s1ixVfzit+UxtkdXHvKjNrF3uq1ntudxi7iK8WKN4oVb
xYi/iMcw2gET/GI0OFZFI/oxSh0IflfZV6t2MyrFZt5tWIzr1ZQ5qXiH13lVrNrq5UHJd6Phy5y9pTr5nPP9XqxuV4vNtfrxeZ6vdhcr+/3G72SI/P12hYwpwGcCJiN3F6o7eKFZpFeeHY7rlHsjmsUu+Maxe64RrE7rvEv7qF3AbSvPdq8rhdZApqPrzBZLxgPKFtbb4qtE/W1qFd/WbEoju07CS8yN2ZyjOf/G7IIDByKxjC9KtPs0CEDFFla
Zul8LfLb8vwOONU+v+htVvhV7wKJaZpskCpw3AQHI3qnoMpmMxeX/FcTO/cfl1A4AAnx2vL9cHjTaw5NxOJhfHd3XiJk89vOtcNH7ulqni20Q+nRtfx76Jt0loahbXcrpd27FNTzY2Jv/G5XfMp/dd1St/gloCX+xHX0N1BLAwQtAAAACAA0eb5KX9j4Ev//////////JAAUAGNvbWJvY2hhcnRleF90ZW1wbGF0ZVxGaWxsZWRTdGFyLmdpZgE
AEACFAwAAAAAAAPcBAAAAAAAArVM7a5QBEFw1hYqPCJY2abQxjWsRtdFGCRYpLSyCj2wtaCeSU0Gwst7CHxAQ7KIQCBeIhOAKQSV4haKFBCSdQvDFOLO/wYXju73dnZ2Z/e7S9MWpM9cO2gHbMcWgP4N+DPobYzgcgj/A0A/0N3Ty/8LNwizNSpuYuZuHeZqXOVQMtwiLtCgLqDfdMizTsiyh0XKrsEqrshJTgxvCkIYibQELmlgcZje0RxHu6V
7u0FpmER7pUR4QCxYzPNOzPCFS7K3wSq/yAjly1BGOdJQDoiwNJE2WpAUp0CZCE4vDkCDljIyoCEgf1zLLjKxISC5ZsFgZVVGgepJibyADFYDMkFmcph3UD3kjSQQjabKErNJiYhOaWJBzKjNnVCZkJPVxLbOqLNBXyiULFhOVgGzWVUK9MhpyXd6FRmUHdAQpDCGJNHQT8QgBCxo6kbpDexTgxWgk9XEts+qXDH1+9IHRJ0QfCX0GtNFoK9Fmo
e1AC0ZLQpNG00IvRkOjh9Fl5hM/x3aZjdtJvY/6T9je64Z9R18++zR8uGdhdPXR4S8rd3f+TN+eujVavlfjm0tXnn9+9eD1r8nfa9sfT8/vfvH3+9bMaHV+/+Tm0ocjX1fmNr69OfZ4Y/bC07MLE2Pr21uX77+/s3xz8cmJt3PvDp26cfzH7Hk79w9QSwECLQAtAAAACAA0eb5KbDLZ4P//////////KwAUAAAAAAAAAAAAAAAAAAAAY29tYm9j
aGFydGV4X3RlbXBsYXRlXGNvbWJvY2hhcnRleC50ZW1wbGF0ZQEAEAClJwAAAAAAABkGAAAAAAAAUEsBAi0ALQAAAAgANHm+Sl/Y+BL//////////yQAFAAAAAAAAAAAAAAAdgYAAGNvbWJvY2hhcnRleF90ZW1wbGF0ZVxGaWxsZWRTdGFyLmdpZgEAEACFAwAAAAAAAPcBAAAAAAAAUEsFBgAAAAACAAIA0wAAAMMIAAAAAA==">
        </form>
        <section class='row toolbar toolbar-position-bottom no-print'>
            
            <div class='toolbar-panel-right col-xs-12 col-sm-12 col-md-5 col-md-push-6'>
                <section id='ssc-ls'></section>
            </div><div class='toolbar-panel-left col-xs-12 col-sm-11 col-md-6 col-md-pull-5'>
                <button class='btn btn-sm button-update'><span class='glyphicon glyphicon-repeat'></span><span class='btn-label btn-label-right'>Update</span></button>
                <button class='btn btn-sm button-reset'><span class='glyphicon glyphicon-refresh'></span><span class='btn-label btn-label-right'>Reset</span></button>
                <button class='btn btn-sm button-print one'><span class='glyphicon glyphicon-print'></span><span class='btn-label btn-label-right'>Print</span></button>
                <button class='btn btn-sm button-submit spin-button' data-style=spin-right><span class='glyphicon glyphicon-send'></span><span class='btn-label btn-label-right'>Submit</span><span class='spin'></span></button>
</div>
            <div class='toolbar-panel-right-right col-sm-1 col-md-1'><a class='poweredby-logo' href='http://www.spreadsheetconverter.com/excel-html-web.htm' target='_blank' tabindex='-1' title='Convert Excel spreadsheet to online form' alt='Convert Excel spreadsheet to online form'></a></div>
        </section>
</body></html>
